body {
    background-color: #dddddd;
    font-family: "Liberation Sans", sans-serif;
    margin: 0;
}
a:link {
    color: #006699;
}
a:active {
    color: #996699;
}
h1 {
    margin-bottom: 10px;
    color: #996699;
    font-weight: normal;
}
#box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
